{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./components",
          "@constants": "./constants",
          "@widgets": "./components/widgets"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "ssr": true
      }
    ]
  ]
}
